@model List<Lesson8_HandsOn.Models.Movie>

@{
    ViewData["Title"] = "Watch Again";
}

<div>
    @if (Model == null)
    {
        <div>No Movies watched</div>
    }
    else
    {
        <div>
            <h1 class="text-center">Watch Again</h1>
            <div class="movie-container">
                @foreach (var m in Model)
                {
                    <div class="movie">
                        <a asp-controller="Movie" asp-action="MovieDescription" asp-route-id="@m.Id">
                            <img src="~/css/movie_img/@m.Img_Src" class="movie-img" />
                        </a>
                    </div>
                }
            </div>
        </div>

    }
</div>
