@model Lesson8_HandsOn.Models.Movie
@{
    ViewData["Title"] = "MovieDescription";
}

<div class="description-container">
    You are watching this movie!!
    <div>
        <img src="~/css/movie_img/@Model.Img_Src" class="description-img" />
    </div>
</div>
