@model Lesson8_HandsOn.Models.Movie
@{
    ViewData["Title"] = "MovieDescription";
}

<div class="description-container">
    @if(Model == null)
    {
        <div>Movie not found</div>
    }
    else
    {  
        <div>
            You are watching this movie!!
            <img src = "~/css/movie_img/@Model.Img_Src" class="description-img"/>
        </div>
    }
</div>
